{:paths ["src" "src-ui" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        http-kit/http-kit   {:mvn/version "2.5.3"}
        metosin/reitit      {:mvn/version "0.5.12"}}

 :aliases
 {:repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.6"}}
         :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.829"}}
         :extra-paths ["test"]
         :main-opts   ["-m" "kaocha.runner"]}

  :run {:main-opts ["-m" "scramblies.core"]}

  :ui {:extra-deps {reagent/reagent     {:mvn/version "1.0.0"}
                    cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}}}

  :shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.13"}}
           :main-opts  ["-m" "shadow.cljs.devtools.cli"]}

  :ui-repl {:extra-deps {cider/cider-nrepl             {:mvn/version "0.25.6"}
                         refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
                         binaryage/devtools            {:mvn/version "1.0.2"}}}}}
